<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" verbose="1">
    <test name="Test">
        <classes>
            <class name="TestNG.Jsoup.UestcSystem.TeachersPersonalDetails">
                <methods>
                    <include name="basicInfo"/>
                    <include name="station"/>
                    <include name=""/>
                    <include name=""/>
                    <include name=""/>
                    <include name=""/>
                    <include name=""/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
